<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Festivities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" float-right (click)="addFest()">
          <ion-icon name="add"></ion-icon>
          Add Festival
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-loader *ngIf="showLoader"></app-loader>



  <ion-grid>
    <ion-row>
      <ion-col size-md="2" size="6" *ngFor="let f of fests  | async">
        <ion-card class="noBacki">

          <ion-card-header>
            <ion-card-title>{{f.Name | uppercase}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <a [href]="f.ImgUrl" target="_blank">
              <img [src]="f.ImgUrl" />
            </a>
            <ion-list lines="none">
              <ion-item>
                <p class="heads" slot="start">Message</p>
                <p slot="end">{{f.Message}}</p>
              </ion-item>
              <ion-item>
                <p class="heads" slot="start">Date</p>
                <p slot="end">{{f.Date | date : 'short'}}</p>
              </ion-item>
              <ion-item>
                <p class="heads" slot="start">Status</p>
                <p slot="end">{{f.Status}}</p>
              </ion-item>
              <ion-button class="ion-float-right" color="danger" (click)="delFest(f.Name)" fill="clear">
                <ion-icon name="md-trash"></ion-icon>
              </ion-button>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>







</ion-content>