<ion-content class="bgMain">

  <ion-slides>
    <ion-slide>

      <ion-grid>
        <ion-row>
          <ion-col size="8" offset="2" size-md="2" offset-md="5">
            <img src="assets/imgs/favicon.png" />
            <img src="assets/imgs/logo.png" />




          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size="10" offset="1" offset-md="4" size-md="4">
            <form [formGroup]="this.loginService.signIn">

              <ion-item class="ion-margin-vertical">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="Email" (keyup.enter)="checkData()"></ion-input>
              </ion-item>

              <ion-item class="ion-margin-vertical">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="Pass" (keyup.enter)="checkData()"></ion-input>
              </ion-item>

              <ion-button shape="round" (click)="checkData()">Sign In</ion-button>
            </form>

          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-slide>
  </ion-slides>


</ion-content>