.content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.mainCol {
  height: 100vh;
  margin: 0;
}
ion-label {
  font-weight: bold !important ;
}
form {
  padding: 50px;
  border-radius: 20px;
}

ion-input {
  padding-left: 5%;
  font-size: 24px;
  font-weight: 200;
}
