<ion-header>
  <ion-toolbar color="primary">

    <!-- <ion-icon name="menu"></ion-icon> -->
    <ion-title>Clients</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="backi">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-searchbar animated="true" placeholder="Search by name" [(ngModel)]="searchValue" (ionChange)="search()">
        </ion-searchbar>
      </ion-col>
      <ion-col size="12" size-md="6" offset-md="2">
        <ion-button shape="round" float-right (click)="addUser()">
          <ion-icon name="add"></ion-icon>
          Add Client
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- {{results | json}} -->


  <!-- <ion-grid class="strip" *ngIf="!Users.length"> -->
  <!-- <ion-grid class="strip" >
    <ion-row>
      <ion-col offset-md="2" size-md="8" size="12">
        <ion-card class="roundCard flpAnim">
          <ion-card-content text-center>
            <ion-card-title>No Clients</ion-card-title>
            <ion-button round (click)="addUser()">
              <ion-icon padding-right name="md-add"></ion-icon>
              Add Client
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  -->



  <!-- <ion-grid class="strip" *ngIf="Users.length"> -->
  <ion-grid class="strip ">
    <ion-row>
      <ion-col size-md="10" offset-md="1" size="12">
        <ion-card>

          <ion-row class="tableTop wt">
            <ion-col size="12" size-md="3">
              <h2 ion-text text-md-center class="wt">NAME</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">PHONE</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">DOB</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">AVG RATING</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">VIEW</h2>
            </ion-col>
            <ion-col size="12" size-md="1">
              <h2 ion-text text-md-center class="wt">FEEDBACK</h2>
            </ion-col>
          </ion-row>

          <app-loader *ngIf="showLoader"></app-loader>

          <div class="strip noBacki ">
            <ion-row *ngFor="let u of users | async" class="ion-padding-horizontal">
              <ion-col grr padding-top size="12" size-md="3">
                <h2 ion-text color="grr">{{u.payload.doc.data().Name | uppercase}}</h2>
              </ion-col>
              <ion-col grr padding-top size="12" size-md="2">
                <h2 ion-text text-md-center color="grr">{{u.payload.doc.data().Phone}}</h2>
              </ion-col>
              <ion-col grr padding-top size="12" size-md="2">
                <h2 ion-text text-md-center color="grr">{{u.payload.doc.data().DOB | date : 'd MMM, y'}}</h2>
              </ion-col>
              <ion-col grr padding-top size="12" size-md="2">
                <h2 ion-text text-md-center color="grr">{{u.payload.doc.data().AverageRatings }}</h2>
              </ion-col>
              <ion-col size="12" size-md="2" text-md-center>
                <!-- <on-button (click)="editUser(u)">
                    Edit
              </ion-button>
                  <on-button (click)="feedback(u)">
                    Take Feedback
              </ion-button> -->

                <ion-button color="primary" fill="clear" (click)="userDetails(u.payload.doc.id)">
                  <ion-icon name="md-eye"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="12" size-md="1">
                <ion-button color="primary" fill="clear" (click)="confirmFeedback(u)">
                  Request<br>
                  Feedback
                </ion-button>


              </ion-col>
            </ion-row>

          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- {{bdArr | json}} -->

  <!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  <ion-button (click)="loadMore()">Load More</ion-button>

</ion-content>