<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bulk Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="mainCol " offset-md="3" size-md="6" size="12">
        <ion-card class="flpAnim noBacki">
          <ion-row>
            <ion-col size="12" size-md="12">
              <ion-card-content>

                <app-loader *ngIf="showLoader"></app-loader>

                <form [formGroup]="this.promService.bulkPromModal" *ngIf="!showLoader">


                  <ion-item margin-vertical shape="round">
                    <ion-label position="stacked">Message</ion-label>
                    <ion-textarea rows="6" maxlength="256" placeholder="Say something to your Clients"
                      formControlName="Message"></ion-textarea>
                  </ion-item>

                  <p class="ion-padding-vertical">Characters Remaining
                    {{256 - this.promService.bulkPromModal.value.Message.length}}</p>

                  <ion-button shape="round" (click)="sendPromotion()">Add Client</ion-button>
                </form>

              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>

        <app-loader *ngIf="loader"></app-loader>

        <ion-card class="noBacki">
          <ion-card-header>
            <ion-card-title>Pevious Bulk Messages</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <div *ngFor="let m of bulkPromos | async">
                <p class="heads">Message</p>
                {{m.Message}}
                <p class="heads">Date </p>
                {{m.TimeStamp | date : 'short'}}
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>