// ion-grid {
//   margin: auto;
//   position: relative;
//   top: 0;
//   text-align: center;
//   -webkit-transform: translate(-50%, 0);
//   transform: translate(-50%, 0);
//   border-radius: 10px;
//   -webkit-animation: flipinx 1s ease-out 0s 1 normal both;
//   animation: flipinx 1s ease-out 0s 1 normal both;
// }
ion-label {
  font-weight: bold !important ;
}

ion-textarea {
  border-bottom: 1px solid #949363 !important ;
}
ion-input {
  padding-left: 5%;
  font-size: 24px;
  font-weight: 200;
}
.scrll {
  height: 200px;
  overflow-y: scroll;
}
