<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Begum's Feedback</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>



  <ion-slides>
    <ion-slide>



      <ion-card class="noBacki">

        <ion-card-content>

          <form [formGroup]="this.feedbackService.feedbackModel" *ngIf="!done" >

            <div style="margin-left: 20%;">
              <bar-rating formControlName="LastRating" [max]="5"></bar-rating>
            </div>


            <ion-item class="ion-margin-horizontal">
              <ion-label position="floating">Comment</ion-label>
              <ion-input type="text" formControlName="LastComment"></ion-input>
            </ion-item>
            <ion-button class="ion-margin-vertical" (click)="sendFeedback()">Submit</ion-button>

          </form>
          <ion-card-title *ngIf="done" >Thank you for your valuable Feedback</ion-card-title>

        </ion-card-content>

      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>