<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Birthday Template</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="mainCol " offset-md="3" size-md="6" size="12">
        <ion-card class="flpAnim noBacki">
          <ion-row>
            <ion-col size="12" size-md="12">
              <ion-card-content>



                <div *ngIf="!showEdit">
                  <ion-card-title>
                    Current Feedback Message
                  </ion-card-title>
                  <br>
                  <br>
                  <app-loader *ngIf="showLoader"></app-loader>
                  <p class="template">
                    {{feedTemp.Message}}
                  </p>
                  <ion-button fill="clear" color="primary" class="ion-float-right" (click)="editTrue()">Edit Message
                  </ion-button>
                </div>




                <form [formGroup]="this.tempService.FeedbackTempModal" *ngIf="showEdit">
                  <app-loader *ngIf="showLoader"></app-loader>

                  <ion-item shape="round">
                    <ion-textarea placeholder="Enter a new Message for Feedback" formControlName="Message">
                    </ion-textarea>
                  </ion-item>
                  <div class="ion-float-right">
                    <ion-button shape="round" color="medium" (click)="editTrue()">Cancel</ion-button>
                    <ion-button shape="round" (click)="upadateFeedTemp()">Update Template</ion-button>
                  </div>
                </form>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>