<ion-content>


  <ion-grid text-center>
    <ion-row>
      <ion-col size="6" offset='3' size-md="4" offset-md='4'>
        <img src="assets/imgs/favicon.png" />
        <img src="assets/imgs/logo.png" />

      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="12" size-md='6' text-center offset-md='3'>
        <div text-center class="imgCont">

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <!-- <img class="iiim" src="assets/imgs/1.png" class="ion-padding-bottom" (click)="gtClients()" /><br> -->
          <img src="assets/imgs/1.png" class="ion-padding-bottom" href="/clients" /><br>

          <img src="assets/imgs/2.png" class="ion-padding-bottom" (click)="gtbulkPromotions()" /><br>

          <img src="assets/imgs/3.png" (click)="gtPromotionsS()" />

        </div>
        <br>
        <br>
        <br>
        <ion-button shape="round" (click)="signOut()">Sign Out</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>