@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~ngx-bar-rating/themes/br-default-theme";

ion-content {
  --background: url("/assets/imgs/bgm.png");
  background-color: #f4f5f8;
  background-position: initial;
  background-repeat: no-repeat;
}

.noBacki {
  background: white !important;
}

ion-button,
ion-title {
  color: white !important;
}
//User list Table Css
.tableTop {
  background: #949363;
  color: white !important;
}
.strip ion-row:nth-child(even) {
  background: #e2dfd9;
}
