<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Client Feedback</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" clear icon-only>
        <ion-icon name="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>



  <ion-slides>
    <ion-slide>



      <ion-card class="noBacki">

        <ion-card-content>

          <form [formGroup]="this.feedbackService.feedbackModel">

            <div style="margin-left: 20%;">
              <bar-rating formControlName="rating" [max]="5"></bar-rating>
            </div>


            <ion-item class="ion-margin-horizontal">
              <ion-label position="floating">Comment</ion-label>
              <ion-input type="text" formControlName="comment"></ion-input>
            </ion-item>
            <ion-button class="ion-margin-vertical" (click)="submitRating()">Submit</ion-button>

          </form>
        </ion-card-content>

      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>